
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;

}

.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 0 240px 0;
    width: 1920px;
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo-container img{
    width: 87px;height: 40px;
    object-fit: cover;
}
.logo-container p{
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
    margin-left: 15px;
}
.pri-text{
    color: #FF42A5;
}
.button-pri{
    display: flex;
}
.nav-item{
    display: flex;
    align-items: center;

}
.nav-item a{
    text-decoration: none;
    color: #3C354F; 
}
.button-pri .button{
    width: 260px;height: 56px;
    margin-left: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.button-pri img{
    align-items: center;
}


.header-section{
    display: flex;
    width: 1920px;
    height: 700px;
    background: #FFF;
    padding: 0 240px 0;
}
.header-contant{
    width: 901px;
    height: 700px;
}

.header-contant h1{
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header-contant h2{
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
}

#Sign1{
    margin-top: 20px;
    border-radius: 48px;
    background-color: #FF42A5;
    width: 156px;height: 65px;
    color: white;
    border: none;
}
#Sign2{
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 48px;
    background-color: #4EC5F7;
    width: 185px;height: 65px;
    color: white;
    border: none;
}

.header-section img{
    width: 901px;
    height: 700px;
}

.container-section{
    width: 1920px;
    height: 700px;
}
.online-contant{
    text-align: center;
    margin-bottom: 40px;
}
.stylish-image{
    width: 200px;height: 220px;
    position: relative;
    bottom: 300px;
    right: 140px;
}
.text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}
.hover-section{
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    flex-wrap: wrap; 
}
.hover-img{
    padding-left: 240px;
    flex-direction: row;
    flex-wrap: wrap;
}
.online-contant h3{
    font-size: 48px;
    font-weight: 700;
}
.online-img{
    display: flex;
    padding-left: 240px;
}

.online-img p{
    text-align: center
}
.image2{
    padding-left: 30px;
    padding-right: 30px;
}
.image4{
    padding-left: 30px;
}
.play-section{
    width: 1920px;
    height: 700px;
    padding-left: 240px;
    display: flex;
}
.play-contant{
    width: 50%;
    padding-left: 300px;
}
.play-contant h3{
    text-align: justify;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px; 
}
.play-contant p{
    text-align: justify;
}
.image-section{
    width: 50%;
}
.hover-img{
    width: 1920px;
    display: flex; 
}
.hover-img1{
    display: flex;
    align-items: center;
}
.hover-img2{
    display: flex;
    align-items: center;
    margin-left: 200px;
}
.card{
    padding: 2px;
    border-radius: 50px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.card p{
    padding-left: 10px;
}
a {
    text-decoration: none;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}
.card :hover{
    color: #F948B2;
    border: 1px solid #F948B2; 
    border-radius: 50px;
    background: url(<path-to-image>), lightgray 0px 0px / 100% 100% no-repeat;
}

.footer-section{
    background-color: black;
}
.footer-section p{
    width: 1920px;
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
    padding-left: 25px;
}
.footer-logo{
    display: flex;
    text-align: center;
    padding: 80px 1000px 0px 900px;
}
.list-1 ,.list-2 > ul{
    justify-content: space-between;
    text-align: center;
}
.list-1 li ,.list-2 li{
    display: flex;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    display: inline-flex;
    align-items: flex-start;
    padding: 40px;
}
.icons{
    display: flex;
    margin-left: 40%;
    margin-right: 40%;
    justify-content: space-around;
    gap: 40px;
}
.footer-section h5{
    color: #FFF;
    text-align: center;
    padding-bottom: 120px;
}